Source: abstract-rendering
Priority: optional
Maintainer: Diane Trout <diane@debian.org>
Build-Depends: debhelper (>= 9),
 dh-python,
 python-all (>= 2.6.6-3~),
 python-all-dev,
 python-setuptools,
 python3-all,
 python3-all-dev,
 python3-setuptools,
 python-docutils,
 python-sphinx (>= 1.0.7+dfsg-1~),
 python-numpy,
 python3-numpy, 
Standards-Version: 3.9.6
X-Python-Version: >= 2.7
X-Python3-Version: >= 3.3
Section: python
Homepage: https://github.com/ContinuumIO/abstract_rendering
Vcs-Git: https://github.com/detrout/python-abstract-rendering.git
Vcs-Browser: https://github.com/detrout/python-abstract-rendering

Package: python-abstract-rendering
Architecture: any
Depends: ${python:Depends}, ${shlibs:Depends}, ${misc:Depends}
Description: Rendering as a binning process for Python 2
 In most visualization systems, the pixels are tucked away under
 levels of geometric abstraction in the rendering system (such as
 circles, squares, and text). Abstract Rendering takes the opposite
 approach: expose the pixels and gain powerful pixel-level
 control. This pixel-level power is a complement to many existing
 visualization techniques. It is an elaboration on rendering, not an
 analytic or projection step, so it can be used as epilogue to many
 existing techniques.
 .
 This contains the Python 2 version

Package: python3-abstract-rendering
Architecture: any
Depends: ${python3:Depends}, ${shlibs:Depends}, ${misc:Depends}
Description: Rendering as a binning process for Python 3
 In most visualization systems, the pixels are tucked away under
 levels of geometric abstraction in the rendering system (such as
 circles, squares, and text). Abstract Rendering takes the opposite
 approach: expose the pixels and gain powerful pixel-level
 control. This pixel-level power is a complement to many existing
 visualization techniques. It is an elaboration on rendering, not an
 analytic or projection step, so it can be used as epilogue to many
 existing techniques.
 .
 This contains the Python 3 version

Package: python-abstract-rendering-doc
Architecture: all
Section: doc
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Rendering as a binning process documetnation
 In most visualization systems, the pixels are tucked away under
 levels of geometric abstraction in the rendering system (such as
 circles, squares, and text). Abstract Rendering takes the opposite
 approach: expose the pixels and gain powerful pixel-level
 control. This pixel-level power is a complement to many existing
 visualization techniques. It is an elaboration on rendering, not an
 analytic or projection step, so it can be used as epilogue to many
 existing techniques.
 .
 This contains the documentation.
